@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.d-none {
  display: none !important;
}

.d-inline {
  display: inline !important;
}

.d-inline-block {
  display: inline-block !important;
}

.d-block {
  display: block !important;
}

.d-table {
  display: table !important;
}

.d-table-row {
  display: table-row !important;
}

.d-table-cell {
  display: table-cell !important;
}

.d-flex {
  display: flex !important;
}

.d-inline-flex {
  display: inline-flex !important;
}

@media (min-width: 576px) {
  .d-sm-none {
    display: none !important;
  }

  .d-sm-inline {
    display: inline !important;
  }

  .d-sm-inline-block {
    display: inline-block !important;
  }

  .d-sm-block {
    display: block !important;
  }

  .d-sm-table {
    display: table !important;
  }

  .d-sm-table-row {
    display: table-row !important;
  }

  .d-sm-table-cell {
    display: table-cell !important;
  }

  .d-sm-flex {
    display: flex !important;
  }

  .d-sm-inline-flex {
    display: inline-flex !important;
  }
}
@media (min-width: 768px) {
  .d-md-none {
    display: none !important;
  }

  .d-md-inline {
    display: inline !important;
  }

  .d-md-inline-block {
    display: inline-block !important;
  }

  .d-md-block {
    display: block !important;
  }

  .d-md-table {
    display: table !important;
  }

  .d-md-table-row {
    display: table-row !important;
  }

  .d-md-table-cell {
    display: table-cell !important;
  }

  .d-md-flex {
    display: flex !important;
  }

  .d-md-inline-flex {
    display: inline-flex !important;
  }
}
@media (min-width: 992px) {
  .d-lg-none {
    display: none !important;
  }

  .d-lg-inline {
    display: inline !important;
  }

  .d-lg-inline-block {
    display: inline-block !important;
  }

  .d-lg-block {
    display: block !important;
  }

  .d-lg-table {
    display: table !important;
  }

  .d-lg-table-row {
    display: table-row !important;
  }

  .d-lg-table-cell {
    display: table-cell !important;
  }

  .d-lg-flex {
    display: flex !important;
  }

  .d-lg-inline-flex {
    display: inline-flex !important;
  }
}
body {
  color: #212121;
  font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 1em;
  font-weight: 300;
  letter-spacing: 0.01em;
  line-height: 1em;
}

* {
  outline: none;
}

strong {
  font-weight: bold;
}

blockquote {
  margin: 0 20px;
  border-left: 2px solid #00aeef;
  padding: 0 20px;
}

a {
  text-decoration: none;
  color: #2a506f;
}
a:focus, a:hover {
  color: #00aeef;
}

ul,
ol {
  display: block;
  padding: 0;
  margin: 0;
}
ul li,
ol li {
  display: block;
  margin-bottom: 1rem;
}

fieldset,
input,
textarea,
select {
  margin-bottom: 1.5rem;
}

.btn {
  border: 1px solid transparent;
  border-radius: 0;
  padding: 0.5rem 1rem;
  background-color: #2a506f;
  color: #fefefe;
  font-size: 16px;
  display: inline-block;
  margin-bottom: 0.5rem;
}
.btn:hover {
  cursor: pointer;
  color: #e5e5e5;
}
.btn.btn-tiny {
  font-size: 12px;
}
.btn.btn-outline {
  background-color: transparent;
  border-color: #2a506f;
  color: #2a506f;
}
.btn.btn-outline:hover {
  cursor: pointer;
  color: #386b94;
}

fieldset,
input,
textarea,
select {
  border: 1px solid #d9d9d9;
  border-radius: 0px;
  box-sizing: inherit;
  padding: 6px 10px;
  width: 100%;
  line-height: 1;
  margin-bottom: 1.5rem;
}
fieldset:focus,
input:focus,
textarea:focus,
select:focus {
  outline: 1px solid gainsboro;
}

textarea {
  height: 7.6rem;
}

label {
  color: #2a506f;
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
}

.form-error {
  margin-top: -1.5em;
  margin-bottom: 1.5em;
  color: #e51c23;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

ul {
  display: block;
  margin: 0;
  padding: 0;
}
ul li {
  display: block;
}

table {
  display: table;
  font-size: 13px;
  width: 100%;
  border-spacing: 0;
}

th {
  text-align: left;
}

td, th {
  border-bottom: 1px solid #d9d9d9;
  box-sizing: border-box;
  margin: 0;
  padding: 10px 2px;
}

.pill {
  padding: 2px 4px;
  border-radius: 0;
  background-color: #d9d9d9;
  display: inline-block;
}
.pill.pill-primary {
  background-color: #2a506f;
}
.pill.pill-secondary {
  background-color: #00aeef;
}

.navigation {
  background-color: #2196f3;
  padding: 1.6rem;
  color: #FFF;
  margin-bottom: 20px;
}
.navigation .site-name {
  font-size: 1.4rem;
}
.navigation a {
  color: inherit;
}
.navigation a:hover {
  text-decoration: underline dotted;
}
.navigation ul li {
  display: inline-block;
  margin: 0;
  margin-right: 1.6rem;
}

.ticket-detail .item {
  background-color: #f3f3f3;
  padding: 1rem;
  margin-bottom: 20px;
}
.ticket-detail .item-header {
  padding-bottom: 1rem;
  border-bottom: 1px solid #d9d9d9;
  margin-bottom: 1rem;
}
.ticket-detail .audit-view {
  margin-bottom: 20px;
  display: block;
  text-align: center;
  position: relative;
}
.ticket-detail .audit-view::before {
  content: " ";
  border-top: 2px #2a506f dashed;
  display: block;
  width: 100%;
  top: 8px;
  position: absolute;
  z-index: -1;
}
.ticket-detail .audit-view::after {
  content: attr(data-detail);
  background: white;
  z-index: 1;
  padding: 0 4px;
}
.ticket-detail .comment-tip {
  background: #9acffa;
  padding: 20px;
  color: #005397;
}
.ticket-detail .comment-tip ul {
  list-style-type: disc;
  padding-left: 10px;
}
.ticket-detail .comment-tip ul li {
  display: list-item;
}

.ticket-freeze label {
  display: inline;
  font-weight: normal;
  color: #8d8d8d;
}

.tip {
  background: #9acffa;
  padding: 10px;
  color: #005397;
  margin-bottom: 20px;
}
.tip a:hover {
  text-decoration: underline dotted;
}
.tip p {
  margin-top: 0;
  margin-bottom: 10px;
}
.tip ul {
  list-style-type: disc;
  padding-left: 14px;
}
.tip ul li {
  display: list-item;
  margin-bottom: 10px;
}

.section {
  margin-bottom: 24px;
}
.section .section-header {
  margin-bottom: 8px;
}

.related-tickets .related-items {
  font-size: 12px;
}
.related-tickets .related-item {
  width: 100%;
  background: #f3f3f3;
  padding: 2px 4px;
  margin-bottom: 6px;
  border: 1px transparent dotted;
}
.related-tickets .related-item.active-item {
  border-color: #2a506f;
}

.title {
  font-size: 12px;
}
.title.title-moderator {
  color: #43A047;
}
.title.title-developer {
  color: #ab3f9e;
}

.pill-open {
  background: #43A047;
  color: #fefefe;
  margin: 2px 0;
}

.pill-closed {
  background: #e51c23;
  color: #fefefe;
  margin: 2px 0;
}

.needs-response {
  display: inline-block;
  height: 18px;
  width: 18px;
  line-height: 18px;
  -moz-border-radius: 18px;
  /* or 50% */
  border-radius: 18px;
  /* or 50% */
  background-color: #43A047;
  color: white;
  text-align: center;
  font-size: 2em;
}

/*# sourceMappingURL=main.css.map */
